div{
    color: white;
}

/* flex-direction : row  */
.justify-start-row {
    display: flex;
    justify-content:flex-start;

    background-color: wheat;
    height: 200px;
}

.justify-end-row {
    display: flex;
    justify-content:flex-end;
    
    background-color:cadetblue;
    height: 200px;
}

.justify-centre-row {
    display: flex;
    justify-content:center;

    background-color:rgb(36, 92, 117);
    height: 200px;
}

.justify-space-around-row {
    display: flex;
    justify-content:space-around;

    background-color:rgb(33, 56, 107);
    height: 200px;
}

.justify-space-between-row {
    display: flex;
    justify-content:space-between;

    background-color:rgb(41, 36, 117);
    height: 200px;
}


/* flex-direction: column  */
.justify-start-column {
    display: flex;
    flex-direction: column;

    justify-content:flex-start;
    background-color: wheat;
    height: 200px;
}

.justify-end-column {
    display: flex;
    flex-direction: column;

    justify-content:flex-end;
    background-color:cadetblue;
    height: 200px;
}

.justify-centre-column{
    display: flex;
    flex-direction: column;

    justify-content:center;
    background-color:rgb(36, 92, 117);
    height: 200px;
}

.justify-space-around-column {
    display: flex;
    flex-direction: column;

    justify-content:space-around;
    background-color:rgb(33, 56, 107);
    height: 200px;
}

.justify-space-between-column {
    display: flex;
    flex-direction: column;

    justify-content:space-between;
    background-color:rgb(41, 36, 117);
    height: 200px;
}